*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detailsItem{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 90px;
}

.detailsItem .containerLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.detailsItem .containerLeft .cardImg{
    display: flex;
    justify-content: center;
    height: 550px;
    width: auto;
}

.detailsItem .containerRight{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.detailsItem .containerRight .cardDescription{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 450px;
}

.detailsItem .containerRight .cardDescription .title{
    font-size: 30px;
    margin: 10px 0;
    color: brown;
}

.detailsItem .containerRight .cardDescription .description{
    display: flex;
    flex-direction: column;
}

.detailsItem .containerRight .cardDescription .description .descriptionTitle{
    font-weight: bold;
    font-size: 23px;
    margin: 10px 0;
}

.detailsItem .containerRight .cardDescription .description .parrafo{
    font-size: 18px;
    margin: 10px 0;
}

.detailsItem .containerRight .cardDescription .precio  {
    color: lightcoral;
    font-weight: bold;
    font-size: 45px;
    margin: 10px 0;
}

.detailsItem .containerRight .buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin: 10px 0;
}

#detalles{
    margin-right: 70px;
}

.detailsItem .containerRight .buttons .addCantCart{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 60px;
    border: 1px solid red;
    font-size: 20px;
}
.detailsItem .containerRight .buttons .addCantCart span{
    padding-left: 25px;
}

.detailsItem .containerRight .buttons .addCantCart #quitar,
.detailsItem .containerRight .buttons .addCantCart #aumentar{
    background: white;
    margin-left: 25px;
    border: 1px solid red;
    padding: 1px 11px 2px 11px;
    border-radius: 30px;
}
